.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  text-align: center;
  height: 100vh;
}

.dices{
  width: 60%;
  height: 50vh;
  border: 5px solid #4ECCA3;
  border-radius: 20px;
  background-color:#345349;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
}

.results{
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

.results > h2{
  margin-top: 10px;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  margin-bottom: 0px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
  text-shadow: 4px 0 #232931;
  margin-top: 0px;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  right: 20px;
  bottom: 0px;
}
