
body{
    font-family: "Anta", sans-serif;
    background-color: rgb(56, 56, 56);
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 5rem;
    margin-bottom: 0px;
}

.grid-container{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    align-items: center;   
    justify-items: center;
}

button{
    transition: height 150ms, width 150ms ease;
    width: 100%;
    height: 100%;
    border: none;
    transition: border-radius 200ms ease;
    border-radius: 30%; 
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.hover{
    transition: box-shadow 200ms ease;
    box-shadow: 0 0 10px white;
}

.clicked{
    transition: height 150ms, width 150ms, background-color 150ms ease;
    width: 97%;
    height: 97%;
    background-color: aliceblue;
    box-shadow: 0 0 15px white;
}

/*for laptop screen-size*/
@media (max-width: 1600px){
    h1{
        font-size: 4rem;
        margin-top: 5px;
    }

    h2{
        margin-top: 5px;
    }

    .grid-container{
        width: 400px;
        height: 400px;
    }
}